.MemoContainer {
  flex: 1;
  padding: 20px;
}

.MemoContainer__title {
  width: 100%;
  font-size: 2rem;
  box-sizing: border-box;
  border: none;
  margin-bottom: 10px;
}

.MemoContainer__content {
  width: 100%;
  min-height: 600px;
  box-sizing: border-box;
  font-size: 1.1rem;
  border: none;
}
