{% extends "base.html" %}

{% block content %}
  <h1>Hi {{ name }}</h1>
  <h2>나이는 : {{ age|add:2 }}</h2>
  <h3>이름을 소문자로 : {{ name|lower }}</h3>

  {% if age == 21 %}
    <p>나는 부럽지가 않아</p>
  {% endif %}

  {% for color in colors %}
    <li>{{ color }}</li>
  {% endfor %}

  <a href="{% url 'pages:index' name %}">페이지스로 넘어가기</a>

  <h1>Throw</h1>
  <form action="{% url 'pages:index' name %}" method="GET">
    <label for="huiju">Throw를 연습하자.</label>
    <input type="text" id='huiju' name="msg">
    <input type="submit">
  </form>

{% endblock content %}